@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
*,
html {
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.3rem;
  background: rgb(22, 9, 9);
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background: #741e37;
  cursor: pointer;
  margin-top: -6;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
